.all-packages-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  padding: 24px;
  flex-grow: 1;
  transition: margin-left 0.3s;
}

.main-content.sidebar-open {
  margin-left: 200px;
}

.error-message {
  color: red;
  margin-bottom: 16px;
  font-weight: bold;
}

h1 {
  margin-bottom: 24px;
}

.package-table {
  background: #fff;
  border-radius: 8px;
}

/* Style cho modal */
.ant-modal-content {
  border-radius: 8px;
}

.ant-modal-header {
  border-radius: 8px 8px 0 0;
}

.ant-modal-body {
  padding: 24px;
}